## KNN Algorithm & Cross Validation

KNN captures the idea of similarity.It can be usually used in recommender systems.

KNN algorithm : load the data and initialize K to your chosen number of neighbors. For each example in the data,calculate the distance between the query example and the current example from the data. And then add the distance and the index of the example to an ordered collection. Sort the ordered collection of distances and indices from smallest to largest. Pick the first K entries from the sorted collection. Get the labels of the selected K entries. If it is Regression, return the mean of the K labels and if it is Classification, return the mode of the K labels

Importing all the required packages

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

In [3]:
cd C:\Users\kjosh\OneDrive\Documents\Datasets

C:\Users\kjosh\OneDrive\Documents\Datasets

In [4]:
pwd

'C:\\Users\\kjosh\\OneDrive\\Documents\\Datasets'

In [10]:
df = pd.read_xlsx("Diabetes.xlsx")
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [11]:
df.shape

(768, 9)

Define a dataframe with all the values except the target column

In [12]:
X = df.drop(columns=['Outcome'])
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

Define the target values from the last column in the dataset

In [13]:
y = df['Outcome'].values

Scikit function we can use called ‘train_test_split’ is used to split the data into training and test.

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

Build a KNN model

In [15]:
knn = KNeighborsClassifier(n_neighbors = 7)

Fit the model to the data

In [17]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

Check the accuracy of the model

In [18]:
knn.score(X_test, y_test)

0.7604166666666666

Cross validation is where we spilt the data into k groups. One fold in the group is used as test set and all others are used as train set.The model is then trained on train set and tested on test set.This process is repeated for all the groups.

Here we implement and show the score of cross validation using cross_val_score and cv_scores function which are defined in numpy.

In [19]:
knn_cv = KNeighborsClassifier(n_neighbors=7)
cv_scores = cross_val_score(knn_cv, X, y, cv=5)
print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.72077922 0.71428571 0.74025974 0.76470588 0.73856209]
cv_scores mean:0.7357185298361768

In [20]:
cv_scores = cross_val_score(knn_cv, X, y, cv=7)
print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.70909091 0.75454545 0.62727273 0.74545455 0.72727273 0.80733945
 0.72477064]
cv_scores mean:0.7279637793399261

In [21]:
cv_scores = cross_val_score(knn_cv, X, y, cv=9)
print(cv_scores)
print('cv_scores mean:{}'.format(np.mean(cv_scores)))

[0.72093023 0.74418605 0.70930233 0.6        0.78823529 0.70588235
 0.78823529 0.75294118 0.75294118]
cv_scores mean:0.7291837665298677